$bodycolorfont: #6b717f;
$backgroundcolor: #fff;
$bordercolor: #8c8c8c;
$shadowcolor: #8c8c8c;
$backgroundcodecolor: #000;
$hcolor: #bf4080;
$blanc: #fff;
$backgroundcolorsuccess: green;
$backgroundcolorerror: red;
$backgroundcolorwarning: orange;

body {
  font: 100% "Space Mono", monospace;
  color: $bodycolorfont;
  margin: 0;
  padding: 0;
  background-color: $backgroundcolor;
  overflow-x: hidden;
}

main {
  padding: 0 1em;
}

article {
  display: flex;
  flex-wrap: wrap;

  section {
    flex-grow: 1;
    flex-basis: 45%;
    border: $bordercolor 1px solid;
    -webkit-box-shadow: 10px 10px 15px -4px $shadowcolor;
    -moz-box-shadow: 10px 10px 15px -4px $shadowcolor;
    box-shadow: 10px 10px 15px -4px $shadowcolor;
    padding: 16px;
    margin: 16px;
    clear: both;
    overflow: auto;
    box-sizing: border-box;
  }

  #selling-points {
    flex-grow: 2;
    flex-basis: 100%;
  }

  code {
    background: $backgroundcodecolor;
    border: 1px solid #6b717f;
    color: #8c8c8c;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
  }

  code.before {
    float: left;
    width: 40%;
  }

  code.after {
    float: right;
    width: 40%;
  }
}

h1,
h2,
h3 {
  color: $hcolor;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 1.5em;
  padding: 32px;
  margin-bottom: 0px;
}

.messages {
  padding: 16px;
}

.success,
.error,
.warning {
  border: 1px solid #8c8c8c;
  padding: 16px;
  color: #fff;
}

.success {
  $backgroundcolorsuccess: green;
}

.error {
  $backgroundcolorerror-color: red;
}

.warning {
  $backgroundcolorwarning: orange;
}
